parameters:
    level: 5          # strictness level (0-9)
    paths:
        - src
        - tests
    checkExplicitMixed: false
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        # Ignore "unsafe new static()" everywhere
        - '#Unsafe usage of new static\(\)\.#'
